body{
    overflow: hidden;
}
h1{
    color: #003366;
    font-size: 26px;
    font-weight: bold;
    padding: 0;
    margin: 25px 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.left-container{
    margin-top:25px;
    margin-left:75px;
}
#metric{
    margin-left: 9.5rem;
    padding: 10px;
    color: #000;
    background: #eee;
    border-right: 1px solid #bbbbbb;
    border-top: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    width:95px;
    margin-bottom: 0px;
    font-family: arial,helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.form-container{
    background-color: #eeeeee;
    padding: 25px;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    width:28%;
    height:32vh;
}
#age,#spanner,.gender,.weight,.height{
    padding-right:30px;
    font-family: arial,helvetica,sans-serif;
    font-size: 16px;
    color: #000;

}
.gender{
    position: absolute;
    margin-top:25px
}
#gender,#height,#weight{
    padding-right: 25px;
}
#spanner{
    margin-left: 15px;
    padding-right: 0px;
}

.ageinput,.heightinput,.weightinput{
    width:110px;
    height:28px;
    border: 1px solid #044284;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #666;
    font-size: 16px;
    background-color: #fff;
}
#rmark1,#rmark2{
    border: 2px solid #336699;
    border-radius: 50%;
    
}
.height{
    position: absolute;
    margin-top:75px
}
.weight{
    position: absolute;
    margin-top:115px 
}
.heightinput,.weightinput{
    width:69%;
}
.calculate,.clear{
    position:absolute;
    margin-top:175px;
    margin-left:85px;
}
.clear{
    margin-left:235px;
}
.right-container{
    display: flex;
    margin-left:40%;
    margin-top:-345px;
}
.result{
    background: #518428;
    color: #fff;
    border: 1px solid #518428;
    padding: 5px;
    font-family: arial,helvetica,sans-serif;
    font-size: 22px;
    font-weight: normal;
    width:95%;
    height:30px;
}
.flex{
    display: flex;
    flex-direction: column;
    gap:15px;

}
.boldtext{
    color: #000;
    font-family: arial,helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
}